@font-face {
  font-family: Poppins-Light;
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-Medium;
  src: url(../fonts/Poppins-Medium.ttf);
}
:root {
  --primary-clr: #ffffff;
  --secondary-clr: #0194da;
  --bg-1: #3bbd9e;
  --bg-2: #222222;
  --bg-3: #a5a5a5;
  --hover-1: 230px;
  --hover-2: 55px;
}
::placeholder {
  color: #808080;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #808080;
}
::-ms-input-placeholder {
  color: #808080;
}

body {
  font-family: Poppins-Light, sans-serif;
  font-size: 13px;
  color: #fff;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none !important;
}

.navbar-brand {
  padding: 0;
  flex: 1 0 auto;
}
.logo {
  max-width: 150px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

/**/
.navigation {
  /*
  background: linear-gradient(
    90deg,
    rgba(20, 117, 162, 1) 27%,
    rgba(32, 186, 150, 1) 87%
  ); */
  background: var(--secondary-clr);
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  font-family: Poppins-SemiBold;
  color: #fff;
  font-size: 15px;
  line-height: 48px;
  letter-spacing: 0px;
  padding: 0px;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff;
}
.navbar.main-menu {
  padding: 0px;
}

.main-menu .nav-item {
  margin-right: 24px;
}
.main-menu .nav-item:last-child {
  margin-right: 0px;
}

.dropdown-toggle::after {
  font-family: Poppins-SemiBold;
  content: " + ";
  display: inline-block;
  margin-left: 8px;
  border: none;
  vertical-align: initial;
  font-weight: 400;
}

.navbar-brand img {
  max-width: 180px;
}

.rt-nav {
  align-items: center;
  flex-wrap: wrap;
}
.rt-nav a {
  font-family: Poppins-SemiBold;
  color: #003e5b;
  margin-right: 2rem;
  font-size: 17px;
  letter-spacing: 1px;
  text-align: right;
}
.header-search {
  margin-left: 1rem;
}
.header-search .fld-search {
  padding: 5px 10px;
  display: none;
}

.header-search .btn-search {
  background: #09e5ab;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}
.footer {
  background: #222224;
}
.footer h4 {
  /* font-size: 1rem; */ /* to make it 6*2*/
  font-family: Poppins-Medium;
  font-size: 18px;
  margin-bottom: 1rem;
  color: #fff;
  line-height: 23px;
}
.footer p {
  color: var(--bg-3);
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.ft-list {
  margin-bottom: 1.5rem;
}
.ft-item {
  margin-bottom: 0.25rem;
}
.ft-link {
  color: #ccc;
  font-size: 15px;
}
.ft-link:hover {
  color: #fff;
}
.fa.social-icons {
  margin-right: 5px;
}
.social-list {
  /*  margin-top: 1rem;*/
}
.social-list a.facebook {
  background: #3b5999;
}
.social-list a.twitter {
  background: #55acee;
}
.social-list a.instagram {
  background: #e4405f;
}
.social-list a.linkedin {
  background: #0077b5;
}
.social-list a.youtube {
  background: #bd081c;
}
.social-list .social-item {
  display: inline-block;
  margin-right: 5px;
}
.social-list .social-item:last-child {
  margin-right: 0px;
}
.social-item a {
  display: inline-block;
  background: var(--bg-3);
  color: #fff;
  width: 25px;
  height: 25px;
  padding: 3px 7px;
  font-size: 13px;
  border-radius: 100%;
}

.copyright {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-family: Poppins-Light;
  color: #999;
  font-size: 14px;
}
.copyright .cr-item {
  align-self: center;
}
.cr-item .tac {
  font-family: Poppins-Light;
  color: #999;
  font-size: 14px;
}
.footer img {
  max-width: 200px;
}

.hero-banner {
  width: 100%;
  object-fit: cover;
}

.sec_newsletter {
  background: linear-gradient(
    90deg,
    rgba(20, 117, 162, 1) 27%,
    rgba(32, 186, 150, 1) 87%
  );
}
.sec_newsletter h4 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.frm-subs .frm-field {
  width: 350px;
  border: 1px solid #f2f2f2;
  padding: 8px 10px;
  border-radius: 6px;
}
.frm-subs .frm-btn {
  background: #fff;
  width: 40px;
  display: inline-block;
  padding: 2px;
  cursor: pointer;
  margin-left: -50px;
}
.frm-subs .frm-btn img {
  width: 30px;
}
.gradient-text {
  background: -webkit-linear-gradient(
    rgba(20, 117, 162, 1),
    rgba(32, 186, 150, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sec_doc {
  background: #f2f2f2;
}
.sec_doc h2 {
  font-family: Poppins-SemiBold;
  color: var(--secondary-clr);
  font-size: 36px;
  letter-spacing: 0;
  text-shadow: 4.226px 9.063px 10px rgba(0, 0, 0, 0.05);
}
.txt-light {
  font-family: Poppins-Regular;
}
.frm-oncologist {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}
.frm-oncologist input,
.frm-oncologist select,
.frm-oncologist button {
  font-family: Poppins-Regular;
  font-size: 14px;
  width: 200px;
  border-radius: 26px;
  border: 1px solid #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 1rem;
  padding: 8px 20px;
  background: #fff;
  box-shadow: 2px 2px 3px 2px #ddd;
  color: #666666;
}
.frm-oncologist select {
  background-image: url("../images/arrow.png");
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: 15px 15px;
}
.frm-oncologist button {
  font-family: Poppins-Medium;
  color: #fff;
  background: var(--secondary-clr);
  border-color: var(--secondary-clr);
  letter-spacing: 0px;
  font-size: 16px;
  text-align: center;
  line-height: 42px;
  border-radius: 26px;
  width: 145px;
  height: 52px;
  padding: 0px;
}

.frm-oncologist .btn-reload {
  padding-top: 5px;
  color: var(--secondary-clr);
  font-size: 16px;
}
.card-dr {
  background: #fff;
  color: var(--secondary-clr);
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}
.dr-profile {
  align-self: center;
  max-width: 250px;
}
.dr-profile .dr-img {
  /* max-width: 100%; */ /* to make it mobile fix*/
  max-width: 100%;
  border-radius: 8px;
  position: relative;
  top: 0;
  left: 0;
}
.dr-profile .watermark {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  max-width: 160px;
}
.card-dr .dr-info,
.card-dr .dr-booking {
  padding: 10px;
  align-self: center;
}
.dr-info h4 {
  font-family: Poppins-SemiBold;
  font-size: 20px;
  margin-bottom: 5px;
  color: #333;
  letter-spacing: 0px;
}
.dr-info h5 {
  font-family: Poppins-SemiBold;
  font-size: 16px;
  margin-bottom: 1rem;
  color: #1fb995;
  text-transform: uppercase;
  letter-spacing: 0px;
}
.dr-info p {
  font-family: Poppins-Regular;
  margin-bottom: 10px;
  color: #666666;
  font-size: 15px;
  font-weight: 400;
}
.dr-info .list-icons {
  margin-right: 5px;
}
.dr-booking p {
  font-family: Poppins-Medium;
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}
.dr-info p.txt-b,
.dr-booking p.txt-b {
  color: var(--secondary-clr);
}

.dr-info .fa {
  margin-right: 5px;
  font-size: 16px;
  width: 20px;
  color: var(--bg-1) !important;
}
.dr-booking .fa {
  margin-right: 5px;
  font-size: 19px;
  color: #000 !important;
}

.dr-booking button {
  margin-right: 10px;
  padding: 5px 8px;
  border-radius: 23px;
  width: 124px;
  color: var(--secondary-clr);
  background: #fff;
  border: 2px solid var(--secondary-clr);
  font-size: 15px;
  height: 45px;
}
.dr-booking button:last-child {
  margin-right: 0px;
}
.dr-booking button.inverse {
  color: #fff;
  background: var(--secondary-clr);
}
@media screen and (max-width: 991px) {
  .navbar.main-menu {
    padding: 10px 5px;
  }
  .frm-oncologist {
    flex-direction: column;
    text-align: center;
  }
  .frm-oncologist input,
  .frm-oncologist select,
  .frm-oncologist button {
    margin-bottom: 1rem;
  }
  .frm-oncologist input,
  .frm-oncologist select,
  .frm-oncologist button {
    width: 50%;
  }
}
@media screen and (max-width: 539px) {
  .frm-oncologist input,
  .frm-oncologist select,
  .frm-oncologist button {
    width: 80%;
  }
  .sec_doc h2 {
    font-size: 20px;
  }
}
.btn-nav {
  text-align: center;
}
.btn-nav li {
  display: inline-block;
  margin: 0 0.5em;
}
.btn-nav li a {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

.sbn .btn-nav li a {
  border: 2px solid #fff;
  border-radius: 50%;
  background: #b2dff4;
}
.sbn .btn-nav li a:hover,
.sbn .btn-nav li a.is-active {
  background-color: #80c9ec;
}
.search {
  color: #333;
  background: var(--background);
  width: auto;
  height: var(--height);
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(#414856, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input[type="text"] {
  position: relative;
  width: var(--height);
  height: var(--height);
  font: 400 16px "Varela Round", sans-serif;
  color: var(--text-color);
  border: 0;
  box-sizing: border-box;
  outline: none;
  padding: 0 0 0 40px;
  transition: width 0.6s ease;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
  border: 1px solid #333;
}
.search input[type="text"]:focus {
  z-index: 0;
  opacity: 1;
  width: var(--width);
}
.search .symbol {
  height: 55px;
  width: 40px;
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trans-search {
}
.trans-search .cust-input {
  width: 0;
  padding: 8px 10px;

  transition: all 0.6s ease;
}
.trans-search .cust-search {
  background: var(--bg-1);
  border: 1px solid var(--bg-1);
  padding: 8px 10px;
  margin-left: -39px;
}
/* section stories */
.sec_stories h2 {
  font-family: Poppins-SemiBold;
  color: var(--secondary-clr);
  font-size: 36px;
  letter-spacing: 0;
  text-shadow: 4.226px 9.063px 10px rgba(0, 0, 0, 0.05);
}
.filter-box {
  transition: transform 0.6s;
  display: flex;
}
.Filter {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 2814px;
  z-index: 293;
}
.Group_2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1920px;
  height: 2814px;
  z-index: 292;
}
.Filter {
  font-size: 18px;
  font-family: "Poppins";
  color: rgb(1, 148, 218);
  line-height: 2.333;
  position: absolute;
  left: 1724.656px;
  top: 174.503px;
  z-index: 291;
}
.Rounded_Rectangle_13_copy {
  background-color: rgb(0, 0, 0);
  position: absolute;
  left: 1694px;
  top: 185px;
  width: 23px;
  height: 21px;
  z-index: 290;
}

.sec_stories .filter-stories {
  font-family: Poppins-Medium;
  margin-right: 10px;
  padding: 5px 8px;
  border-radius: 24px;
  width: 124px;
  color: var(--secondary-clr);
  background: #fff;
  border: 3px solid var(--secondary-clr);
  font-weight: 500;
  font-size: 18px;
  height: 45px;
}
.filter-container {
  display: none;
  z-index: 1;
  background: #fff;
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  transition: transform 0.3s;
}
.filter-container h2 {
  font-family: Poppins-SemiBold;
  font-size: 24px;
  color: #084460;
}

.filter-container .btn-close {
  border: 2px solid #999;
  font-size: 20px;
  color: #999999 !important;
  border-radius: 100%;
  width: 44px;
  display: inline-block;
  height: 44px;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  margin-right: 10px;
}
.filter-container p {
  font-family: Poppins-SemiBold;
  color: #333333;
  font-size: 18px;
}

.filter-fld {
  font-family: Poppins-Regular;
  padding: 5px 20px;
  background-color: rgb(236, 236, 236);
  border: 1px solid rgb(236, 236, 236);
  border-radius: 15px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #333;
  font-size: 13px;
}
.filter-fld.tag-pink {
  background: #f880da !important;
  border-color: #f880da;
  color: #fff;
}
.filter-fld.tag-blue {
  background: #039dba !important;
  border-color: #039dba;
  color: #fff;
}
.filter-fld.tag-lgblue {
  background: #0194da !important;
  border-color: #0194da;
  color: #fff;
}
.filter-fld.tag-orange {
  background: #f88625 !important;
  border-color: #f88625;
  color: #fff;
}
.filter-fld.tag-purple {
  background: #a887c0 !important;
  border-color: #a887c0;
  color: #fff;
}

.splitter {
  width: 100%;
  display: block;
  border-top: 1px dashed #ccc;
}
.wrapper {
  padding: 0 100px;
}
.storires-cards {
  padding-bottom: 50px !important;
}
.st-card-img img {
  max-width: 100%;
  border-radius: 10px;
}
.storires-cards .st-card-filter {
  padding: 10px 0;
}
.story-card {
  margin-bottom: 40px;
}
.st-card-filter .filter-fld {
  font-size: 10px;
  padding: 4px 10px;
}
.st-card-desc h5 {
  font-size: 18px;
  font-family: Poppins-Medium;
  color: #111111;
}
.st-card-desc p {
  font-family: Poppins-Regular;
  font-size: 14px;
  color: #666666;
}
.st-card-desc .more {
  display: none;
}
.st-card-desc .morebtn {
  color: #0194da;
  cursor: pointer;
}
@media screen and (max-width: 1280px) {
  .sec_doc h2 {
    font-size: 28px;
  }
}
.Rounded_Rectangle_13 {
  border-radius: 10px;
  background-color: rgb(236, 236, 236);
  position: absolute;
  left: 112px;
  top: 258px;
  width: 401px;
  height: 267px;
  z-index: 21;
}
@media screen and (max-width: 1600px) {
  .wrapper {
    padding: 0 50px;
  }
}
@media screen and (max-width: 991px) {
  .wrapper {
    padding: 0 25px;
  }
}
